[alias]
	logg = log --no-merges -1 HEAD
	difff = diff --word-diff
[user]
	email = bjorkst@stud.ntnu.no
	name = Bjørn Kristian Strand
[pull]
	rebase = true
[core]
	editor = nvim
[init]
	defaultBranch = main
